@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
/*----------------- Reset -----------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.0012rem;
  background: #fff;
  color: #48556a;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 1.5rem;
  background-color: #ecf2f8;
  min-height: 100vh;
}
@media (min-width: 48rem) {
  .container {
    padding: 14.1875rem 5rem;
  }
}
@media (min-width: 90rem) {
  .container {
    padding: 16.25rem 5rem;
  }
}

/*----------------- Card -----------------*/
.card {
  background-color: #fff;
  border-radius: 0.625rem;
  box-shadow: 0 40px 40px -10px rgba(201, 213, 225, 0.5);
  max-width: 22.75rem;
  display: grid;
  grid-template-areas: "image" "content" "interaction";
}
@media (min-width: 48rem) {
  .card {
    max-width: 45.625rem;
    grid-template-areas: "image content" "image interaction";
  }
}
.card__image {
  grid-area: image;
  width: 100%;
  height: 12.5rem;
  overflow: hidden;
  border-radius: 0.625rem 0.625rem 0 0;
}
@media (min-width: 48rem) {
  .card__image {
    width: 14.3125rem;
    height: 100%;
    border-radius: 0.625rem 0 0 0.625rem;
  }
}
@media (min-width: 90rem) {
  .card__image {
    width: 17.8125rem;
  }
}
.card__image img {
  width: 100%;
  height: 100%;
  object-position: 0 -1rem;
  object-fit: cover;
}
@media (min-width: 48rem) {
  .card__image img {
    object-position: -2rem 0;
  }
}
@media (min-width: 90rem) {
  .card__image img {
    object-position: 0;
  }
}
.card__content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
@media (min-width: 48rem) {
  .card__content {
    padding: 2.5rem 2.5rem 1rem 2.5rem;
  }
}
@media (min-width: 90rem) {
  .card__content {
    padding: 2rem 2.5rem 1rem 2.5rem;
  }
}
.card__info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.card__title {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.0156rem;
}
.card__description {
  color: #6e8098;
}
.card__interaction {
  grid-area: interaction;
  position: relative;
  margin-top: 4.5rem;
}
@media (min-width: 48rem) {
  .card__interaction {
    margin-top: 6rem;
  }
}

/*-------------- Author Component --------------*/
.interaction--default {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
@media (min-width: 48rem) {
  .interaction--default {
    padding: 0 2.25rem 2.5rem 2.25rem;
  }
}
@media (min-width: 90rem) {
  .interaction--default {
    padding: 0 2.5rem 2rem 2.5rem;
  }
}

.profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.profile .avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
}
.profile .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile .author {
  display: flex;
  flex-direction: column;
}
.profile .author__name {
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.0012rem;
}
.profile .author__date {
  color: #9daec2;
}

.interaction--share {
  display: none;
  align-items: center;
  background-color: #48556a;
  padding: 1.5rem 2rem;
  border-radius: 0 0 0.625rem 0.625rem;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  opacity: 0;
}
@media (min-width: 48rem) {
  .interaction--share {
    right: -4.5rem;
    bottom: 6.5rem;
    border-radius: 0.625rem;
    padding: 1rem 2.25rem;
    width: max-content;
    filter: drop-shadow(0 10px 10px rgba(201, 213, 225, 0.5));
  }
}
@media (min-width: 90rem) {
  .interaction--share {
    right: -4.25rem;
  }
}
.interaction--share .share {
  display: flex;
  align-items: center;
  gap: clamp(1rem, 5vw, 1.5rem);
}
.interaction--share .share__text {
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  color: #9daec2;
}
.interaction--share .share__social {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.interaction--share .tooltip__arrow {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #48556a;
  display: none;
}
@media (min-width: 48rem) {
  .interaction--share .tooltip__arrow {
    display: block;
  }
}

.show--share {
  display: flex;
  opacity: 1;
}

/*----------------- Share Button -----------------*/
.share__button {
  width: 2rem;
  height: 2rem;
  background-color: #ecf2f8;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.share__button img {
  filter: invert(50%) saturate(0%) brightness(90%) contrast(90%);
  object-position: 0 -0.0625rem;
}
.share__button--active {
  background-color: #6e8098;
}
.share__button--active img {
  filter: invert(100%) saturate(0%) brightness(1000%) contrast(1000%);
}
@media (hover: hover) and (pointer: fine) {
  .share__button:hover {
    background-color: #6e8098;
  }
  .share__button:hover img {
    filter: invert(100%) saturate(0%) brightness(1000%) contrast(1000%);
  }
}

/*# sourceMappingURL=styles.css.map */
