@use "../base/variables" as *;
@use "../base/mixins" as *;

/*-------------- Author Component --------------*/

.interaction--default {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-16 $spacing-32;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  @include breakpoint("tablet") {
    padding: $spacing-0 $spacing-36 $spacing-40 $spacing-36;
  }
  @include breakpoint("desktop") {
    padding: $spacing-0 $spacing-40 $spacing-32 $spacing-40;
  }
}

.profile {
  display: flex;
  align-items: center;
  gap: $spacing-16;

  .avatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .author {
    display: flex;
    flex-direction: column;

    &__name {
      @include text-preset2($fw-bold);
    }

    &__date {
      color: $color-grey-400;
    }
  }
}

.interaction--share {
  display: none;
  justify-content: space-between;
  align-items: center;
  background-color: $color-grey-900;
  padding: $spacing-24 $spacing-32;
  border-radius: $spacing-0 $spacing-0 $spacing-10 $spacing-10;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.2s ease;

  .share {
    display: flex;
    align-items: center;
    gap: clamp($spacing-16, 5vw, $spacing-24);

    &__text {
      @include text-preset3;
      color: $color-grey-400;
    }

    &__social {
      display: flex;
      align-items: center;
      gap: $spacing-16;
    }
  }
}

.interaction--tooltip {
  display: none;
  justify-content: space-between;
  align-items: center;
  background-color: $color-grey-900;
  filter: drop-shadow(0 10px 10px rgba(201, 213, 225, 0.5));
  padding: $spacing-16 $spacing-36;
  border-radius: $spacing-10;
  opacity: 0;
  transition: all 0.2s ease;
  position: absolute;
  right: -72px;
  bottom: 104px;
  width: 15.5rem;
  @include breakpoint("desktop") {
    right: -68px;
  }
}

.tooltip__text {
  @include text-preset3;
  color: $color-grey-400;
}

.tooltip__social {
  display: flex;
  align-items: center;
  gap: $spacing-16;
}

.tooltip__arrow::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid $color-grey-900;
  filter: drop-shadow(0 10px 10px rgba(201, 213, 225, 0.5));
}

.show--share {
  display: flex;
  opacity: 1;
}
