@use "../base/variables" as *;

/*----------------- Share Button -----------------*/

.share__button {
  width: 2rem;
  height: 2rem;
  background-color: $color-grey-200;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 1;

  img {
    filter: invert(50%) saturate(0%) brightness(90%) contrast(90%);
    object-position: 0 -0.0625rem;
  }

  &--active {
    background-color: $color-grey-500;

    img {
      filter: invert(100%) saturate(0%) brightness(1000%) contrast(1000%);
    }
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: $color-grey-500;

      img {
        filter: invert(100%) saturate(0%) brightness(1000%) contrast(1000%);
      }
    }
  }
}
